{% extends 'base.html' %}
{% block title%} Login {% endblock%}
{% block content %}
<body>
    <div class="d-flex flex-wrap flex-column justify-content-around align-items-center">
        <form class="index_forms" action="/resetting_forgotten_password" method="POST" class="bg-primary-subtle border">
            {% csrf_token %}
            <h2 class="text-primary">Let's reset your password</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form_group p-2">
                <label for="password">New Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form_group p-2">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" class="form-control">
            </div>
            <input type="hidden" value={{user_id}} name="user_id">
            <input class="action_button bg-primary-subtle" type="submit" value="Reset Password">
        </form>
    </div>
</body>
{% endblock %}
