{% extends 'base.html' %}
{% block title%} Login {% endblock%}
{% block content %}
<body>
    <div class="d-flex flex-wrap flex-column justify-content-around align-items-center">
        <form class="index_forms" action="/answer_secret_q" method="POST" class="bg-primary-subtle border">
            {% csrf_token %}
            <h2 class="text-primary">Let's reset your password</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="form_group">
                <label for="secret_answer">Please answer your secret questions <br> {{secret_question}}</label>
                <input type="text" name="secret_answer" class="form-control">
            </div>
            <input type="hidden" value={{user_id}} name="user_id">
            <input class="action_button bg-primary-subtle" type="submit" value="Continue">
        </form>
        <p>Not a user? <a href="/register">Register here</a></p>
    </div>
</body>
{% endblock %}
